body{
    background-color: #020916;
    margin: 0px;
    margin-bottom: 4%;
    transition: 0.15ms;
}


.posters{
    width: 75%;
    height: auto;
    border-radius: 10px;   
}
.posters:hover, a:hover{
  cursor: pointer;
}
p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.movie-container{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    
    
}
.title{
  text-decoration-color: #020916;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 25px;
    column-gap: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    place-items: center;
  }

.loadMore, .trending{
  padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
    border: none;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color: rgb(118, 217, 18);
    transition: 0.15ms;
}
.trending{
  padding: 1%;
  margin: 1%;
  position: absolute;
  right: 0;
  
}

.loadMore:hover, .trending:hover{
  border-style: ridge;
  background-color: #020916;
  color: rgb(118, 217, 18);
  border-color: rgb(118, 217, 18);
}
.buttondiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
  color: white;
}

.topbar{
  background-color: rgba(39, 45, 45,0.4);
  margin: 0px;
  padding: 1%;
}
h2{
  color: whitesmoke;
  display: inline;
  padding-left: 5%;
  transition: 0.15ms;
}
h2 span:hover{
  color: rgb(118, 217, 18);
}

.search{
  display: inline;
  margin-right: 2%;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 1%;
  border: none;
  border-radius: 7px;
  word-break: keep-all;
  background-color: rgba(0, 0, 0,0.5);
  color: whitesmoke;
}

.login{
  display: inline;
  margin: auto;
  background-color: transparent;
  border: none;
  color: rgb(118, 217, 18);
}
.left{
  display: inline-flex;
  justify-content: space-between;
  margin-left: 10px;
  position: absolute;
  right: 40px;
  top: 20px;
  
}


#myBtn {
  display: none;
  position: fixed;
  padding: 2%;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(118, 217, 18);
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 30px;
}

#myBtn:hover {
  background-color:rgba(0, 0, 0,0.5);
  color: rgb(118, 217, 18);
}


button:hover{
  cursor: pointer;
}




