body{
    background-color: #020916;
    margin-left: 2%;
    margin-right: 2%;
    margin-top : 3%;
}

p, h1, h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.15ms;
}
p:hover , h1:hover, h2:hover{
    color: rgb(118, 217, 18);
}
h1{
    margin-left: 45%;
}

main{
    display: flex;
    align-items: top;
}

img{
    width: 45%;
    height: auto;
}
.poster{
    width: 450px;
    height: auto;
    padding: 1%;
}

.rates{
    width: 30%;
    height: auto;
    display: inline;
  }
.tomRate{
    display: inline;
    margin-left: 4px;
}
.rottenTomatoes{
    display: inline-flex;
    align-items: center;
}
.rateContainer{
    display: inline-flex;
    justify-content: center;
}