body{
    color: white;
}
.info{
    display: flex;
  justify-content: center; /* Center aligns items horizontally */
  align-items: top;
  height: 64%;
}
h1{
    margin-left: 20px;
}

.poster{
    display: inline-block;
    margin:none;
    border-radius: 20px;
    width: 55%;
    height: 80%;
}
.poster img{
    max-width: 100%;
    max-height: 100%;
}
.sub-info{
    display: flex;
  justify-content: center; /* Center aligns items horizontally */
  align-items: top;
  height: 54%;
}