body{
    background-color: #020916;
    margin: 0px;
    margin-bottom: 4%;
}

.posters{
    width: 75%;
    height: auto;
    border-radius: 10px;   
}
.posters:hover, a:hover{
  cursor: pointer;
}
p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.movie-container{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    
    
}
.title{
  text-decoration-color: #020916;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 25px;
    column-gap: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    place-items: center;
  }
.loadMore{
  padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
    border: none;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color: rgb(118, 217, 18);
    transition: 0.15ms;
}
.loadMore:hover{
  cursor: pointer;
  border-style: solid;
  background-color: #020916;
  color: rgb(118, 217, 18);
  border-color: rgb(118, 217, 18);
}
.buttondiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
  color: white;
}

.topbar{
  background-color: rgba(39, 45, 45,0.4);
  margin: 0px;
  padding: 1%;
}
h2{
  color: whitesmoke;
  display: inline;
  padding-left: 5%;
  transition: 0.15ms;
}
h2 span:hover{
  color: rgb(118, 217, 18);
}

.search{
  display: inline;
  position: absolute;
  right: 0;
  margin-right: 2%;
  padding-top: 0.4%;
  padding-bottom: 0.3%;
  padding-left: 0.4%;
  border: none;
  border-radius: 7px;
  word-break: keep-all;
  background-color: rgba(0, 0, 0,0.5);
  color: whitesmoke;
}

